body{color:rgb(144, 146, 45)} 

table{margin:auto;}
table th, tr {padding-right:10px;}

#owl {display:block; margin-left:auto; margin-right:auto; width:50%;}

h1 , h2, h3{text-align: center;}
h2{padding: 20px;}

#Faves {text-align: center;  }
ul {padding-left: 37%;  } /*find a way to center and align bullets for list beginning at the Title above


